




html {
  font-family: Calibri;
  min-width: 34.375rem;
  margin: auto;
  max-width: 62.5rem;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  color: #4a4a4a;
  margin: 0 2.5% 0 2.5%;
}

.main-content {
  position: relative;
  top: 4rem;
}

h1, h2, a {
  color: rgba(75, 141, 203, 1);
}

/* Ensures that nav links work accurately, given a fixed header */
#exp-section::before, #edu-section::before, #training-section::before { 
  content: " ";
  display: block;
  height: 4rem;
  margin-top: -4rem;
  pointer-events: none;
  visibility: hidden;
}

#exp-section li:hover, #edu-section li:hover, #training-section li:hover {
  cursor: pointer;
  font-weight: bold;
}

.to-be-expanded {
  display: none;
}

.blue-link {
  color: rgba(75, 141, 203, 1);
  text-decoration: none;
}

.blue-link:hover {
  font-weight: 700;
}

.blue-link:visited {
  color: rgba(75, 141, 203, 1);
}

.header-for-print {
  display: none;
  position: absolute;
}

button {
  width: 7.8125rem;
  float: right;
}

#revert-button {
  display: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}





header {
  background-color: white;
  max-width: 59.375rem; /* Needs to be 95% of max width of the page, which is 62.5rem */
  min-width: 34.375rem;
  position: fixed;
  top: 0rem;
  width: 95.25%; /* Same here, but adding 0.25% so that the photo doesn't bypass the header upon scrolling */
  z-index: 5;
}
  
header .container {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
}

header ul {
  padding: 0;
}

nav li {
  display: table-cell;
  padding: 0 0 0 1rem;
}

nav a {
  color: #4a4a4a;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}





#intro-section {
  display: grid;
  grid-template-areas:  "intro-text intro-img"
                        "headline headline";
  grid-template-columns: 50% 50%;
  grid-template-rows: 18.75rem 3.5rem;
  position: relative;
}

#intro-text {
  grid-area: intro-text;
  position: absolute;
  bottom: 0;
}

#intro-section #intro-img {
  grid-area: intro-img;
}

#intro-section img {
  cursor: pointer;
  float: right;
  height: auto;
  width: 63%;
}

#intro-section .headline {
  grid-area: headline;
}

#intro-section h3 {
  margin: 0;
}





#exp-section h3, #edu-section h3, #training-section h3, #languages-section h3, #it-section h3 {
  margin: 0;
}





footer {
  bottom: 0rem;
  min-width: 34.375rem;
  width: 59.375rem; /* Need to same as in the header */
  width: 100%; /* For some reason needs to stay */
}

footer h3 {
  padding-bottom: 1rem;
}





@media (pointer: coarse) {
  body {
    font-size: 100%;
  }
  button {
    font-size: 1.25rem;
    margin-top: 1rem;
    width: 13rem;
  }
  #exp-section a, #edu-section a, #training-section a, nav a {
    font-weight: bold;
  }
}





@media print {

  .header-for-print {
    display: block; /* This cunt is the only way to keep my name on top and only on first page  */
  }

  header {
    display: none; /* This cunt is the only way to keep my name on top and only on first page  */
  }

  #intro-section {
    grid-template-rows: 13.5rem 3.5rem; /* First number is the height of first row, second - second  */
  }

  #intro-text {
    bottom: -4.75rem;
  }

  .to-be-expanded {
    display: block !important;
  }

  .no-print {
    display: none;
  }

  .padding-bottom {
    padding-bottom: 1rem; /* This cunt is needed to harmonize space between elements, vertically */
  }
}